{% extends 'demo_app/base.html' %}

{% block content %}
    <h1>情報入力画面</h1>
      <form method="POST" class="register-form" action="input_form">{% csrf_token %}

<!-- 名前セクション -->
        <div class="row" style="margin-bottom:40px">
          <div class="range col s6">
            名字
            {{ form.last_name }}
          </div>
          <div class="range col s6">
            名前
            {{ form.first_name }}
          </div>
        </div>

<!-- 残高 -->
        <div class="row" style="margin-bottom:40px">
          <div class="range col s6">
            残高
            {{ form.limit_balance }}
            <span>100000</span>
          </div>
        </div>

<!-- 性別、学歴、結婚歴、年齢セクション -->
      <p>デモグラフィック</p>
        <div class="row" style="margin-bottom:40px">
          <div class="range col s3">
            性別
            {{ form.sex }}
          </div>
          <div class="range col s3">
            学歴
            {{ form.education }}
          </div>
          <div class="range col s3">
            結婚歴
            {{ form.marriage }}
          </div>
          <div class="range col s3">
            年齢
            {{ form.age }}
          </div>
        </div>

<!-- 過去の支払い歴 -->
      <p>過去の支払い歴</p>
        <div class="row" style="margin-bottom:40px">

          <div class="range col s2">
            1
            {{ form.pay_0 }}
          </div>
          <div class="range col s2">
            2
            {{ form.pay_2 }}
          </div>
          <div class="range col s2">
            3
            {{ form.pay_3 }}
          </div>
          <div class="range col s2">
            4
            {{ form.pay_4 }}
          </div>
          <div class="range col s2">
            5
            {{ form.pay_5 }}
          </div>
          <div class="range col s2">
            6
            {{ form.pay_6 }}
          </div>
        </div>

<!-- 請求書 -->
        <div class="row" style="margin-bottom:40px">
          <div class="range col s6">
            請求書の金額
            {{ form.bill_amt_1 }}
            <span>0</span>
          </div>
        </div>

<!-- 支払い書の額 -->
      <p>支払い書の額</p>
        <div class="row" style="margin-bottom:40px">
          <div class="range col s6">
            1
            {{ form.pay_amt_1 }}
            <span>5000</span>
          </div>
          <div class="range col s6">
            2
            {{ form.pay_amt_2 }}
            <span>5000</span>
          </div>
        </div>
        <div class="row" style="margin-bottom:40px">
          <div class="range col s6">
            3
            {{ form.pay_amt_3 }}
            <span>5000</span>
          </div>
          <div class="range col s6">
            4
            {{ form.pay_amt_4 }}
            <span>5000</span>
          </div>
        </div>
        <div class="row" style="margin-bottom:40px">
          <div class="range col s6">
            5
            {{ form.pay_amt_5 }}
            <span>5000</span>
          </div>
          <div class="range col s6">
            6
            {{ form.pay_amt_6 }}
            <span>5000</span>
          </div>
        </div>


      <button type="submit" class="save btn btn-default">Save</button>
    </form>

<script type="text/javascript">
// Materializeの使用でselectが表示されない設定を初期化
  M.AutoInit();

// Sliderの値を表示する
 　var elem = document.getElementsByClassName('range');
　 var rangeValue = function (elem, target) {
　 　　return function(evt){
　　　 　　target.innerHTML = elem.value;
 　　　}
　 }
　 for(var i = 0, max = elem.length; i < max; i++){
 　　　bar = elem[i].getElementsByTagName('input')[0];
 　　　target = elem[i].getElementsByTagName('span')[0];
　　　 bar.addEventListener('input', rangeValue(bar, target));
　 }
</script>

{% endblock %}
